*
{
  font-family: 'Economica';
  font-size: 15px;
}

.content
{
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding: 45px;
  height:300px;
  width:800px;
  border-radius:5%;
}

h2
{
  text-align: center;
  font-size: 40px;
}

.login_back
{
  margin:0;
  padding:0;
  color : white;
  background:white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content2
{
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding: 45px;
  height:500px;
  width:400px;
  margin: 100px auto;
  border-radius:5%;
}

input[type=text], input[type=password]
{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

a{

	float:left;
}

.registerbtn
{
  background-color: #f4c2c2;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 98%;
  opacity: 0.9;
}

#clear{
  clear:both;
}
